# Data and Logs
data/
*.log

# Virtual Environments
.venv/
venv/
env/

# Python junk
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Environment/OS
.DS_Store
.env
.env.*
!.env.example
